<!doctype html>
<html>
<meta charset="utf-8">
<head>
    <title>登录系统</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">  
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <style type="text/css">
        .divhide{display:none}
    
        input[type="checkbox"] {
            display: none;
        }
        input[type="checkbox"]+span {
            display: inline-block;
            width: 150px;
            height: 50px;
            font-size: 30px;
            line-height:50px;
            text-align: center;
            border: 1px solid #999;
            background-color: #fff;
        }
        input[type="checkbox"]:checked+span {
            border: 1px solid rgb(0, 0, 0);
            background-color: rgb(16, 133, 211);
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="/signin">Hotel</a>
                    </div>
                    
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                 <a href="#" id="movein">入住</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">房间管理<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li>
                                         <a href="#" id="continue">续住</a>
                                    </li>
                                    <li>
                                         <a href="#" id="checkout">退房</a>
                                    </li>
                                    <li>
                                         <a href="#" id="roomsearch">房间查询</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    
                </nav>
                <div class="jumbotron" id="room" style="display:block;">
                    <h3>
                        当前房间情况:
                    </h3>
                    <p>
                        单人房:{{single|length}}
                        双人房:{{double|length}}
                        豪华房:{{luxury|length}}
                        套间:{{suite|length}}
                        高级套间:{{high|length}}
                        总统套房:{{president|length}}
                    </p>
                </div>

                <div class="jumbotron" id="room_continue" style="display:none;">
                    <h3>
                        房间续住
                    </h3>
                    <label>请输入要续住的房间号</label>
                    <input id="continueroom" type="text" size="15" style="width:50px"/>
                    <label>请输入要续住的天数</label>
                    <input id="continuedays" type="text" size="15" style="width:50px"/>
                    <br/>
                    <button id="continue_upload" class="btn btn-default">确认</button>
                </div>

                <div class="jumbotron" id="room_search" style="display:none;">
                    <h3>
                        房间状态查询
                    </h3>
                    <label>请输入要查询的房间号</label>
                    <input id="searchroom" type="text" size="15" style="width:50px"/>
                    <br/>
                    <button id="search_upload" class="btn btn-default">确认</button>
                </div>

                <div class="jumbotron" id="room_checkout" style="display:none;">
                    <h3>
                        房间退房
                    </h3>
                    <label>请输入要退房的房间号</label>
                    <input id="checkoutroom" type="text" size="15" style="width:50px"/>
                    <br/>
                    <button id="checkout_upload" class="btn btn-default">确认</button>
                </div>

                <div class="right-block" style="width:0px;display: none;" id="choose">
                    <div class="dropdown">
                        <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">请选择房间类型
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#" id="single_">单人间</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#" id="double_">双人间</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#" id="luxury_">豪华间</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#" id="suite_">套间</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#" id="high_">高级套间</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#" id="president_">总统套房</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <br/>
                <div class="jumbotron" id="single" style="display: none;">
                    <div>
                        <p>可用单人间</p>
                        {% for index in single %}
                            <label><input type="checkbox" name="test" room_id="{{index[0][0]}}"/><span>{{index[0]}}</span></label>
                        {% endfor %}
                        <!-- {{single}} -->
                        <button class="submit">提交</button>
                    </div>
                </div>
                <div class="jumbotron" id="double" style="display: none;">
                    <div>
                        <p>可用双人间</p>
                        {% for index in double %}
                            <label><input type="checkbox" name="test" room_id="{{index[0][0]}}"/><span>{{index[0]}}</span></label>
                        {% endfor %}
                        <!-- {{single}} -->
                        <button class="submit">提交</button>
                    </div>
                </div>
                <div class="jumbotron" id="luxury" style="display: none;">
                    <div>
                        <p>可用豪华间</p>
                        {% for index in luxury %}
                            <label><input type="checkbox" name="test" room_id="{{index[0][0]}}"/><span>{{index[0]}}</span></label>
                        {% endfor %}
                        <!-- {{single}} -->
                        <button class="submit">提交</button>
                    </div>
                </div>
                <div class="jumbotron" id="suite" style="display: none;">
                    <div>
                        <p>可用套间</p>
                        {% for index in suite %}
                            <label><input type="checkbox" name="test" room_id="{{index[0][0]}}"/><span>{{index[0]}}</span></label>
                        {% endfor %}
                        <!-- {{single}} -->
                        <button class="submit">提交</button>
                    </div>
                </div>
                <div class="jumbotron" id="high" style="display: none;">
                    <div>
                        <p>可用高级套间</p>
                        {% for index in high %}
                            <label><input type="checkbox" name="test" room_id="{{index[0][0]}}"/><span>{{index[0]}}</span></label>
                        {% endfor %}
                        <!-- {{single}} -->
                        <button class="submit">提交</button>
                    </div>
                </div>
                <div class="jumbotron" id="president" style="display: none;">
                    <div>
                        <p>可用总统套房</p>
                        {% for index in president %}
                            <label><input type="checkbox" name="test" room_id="{{index[0][0]}}"/><span>{{index[0]}}</span></label>
                        {% endfor %}
                        <!-- {{single}} -->
                        <button class="submit">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <input name="status" value="2" style="display: none;"> -->
    
    <div class="modal fade" id="movein_">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                        <h4 class="modal-title" align="center">入住登记</h4>
                        <br/>
                        <form class="form-horizontal" role="form"  method="post">
                            <div class="form-group">
                                <label for="guest_name" class="col-sm-offset-2 col-sm-2 control-label">姓名</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="guest_name"  placeholder="输入姓名">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="guest_id" class="col-sm-offset-2 col-sm-2 control-label">身份证号</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="guest_id" placeholder="输入身份证">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="guest_num" class="col-sm-offset-2 col-sm-2 control-label">联系方式</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="guest_num" placeholder="输入手机号">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-5">
                                    <button id="form_gusetinfo" class="btn btn-default btn-block btn-primary">录入</button>
                                </div>
                            </div>
                        </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
            <!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script type="text/javascript">
        $(function(){
        
            $("#movein").click(function(){
                $('#movein_').modal('show'); //显示模态框
            })
            
            $("#continue").click(function(){
                $('.jumbotron').hide();
                $('#room_continue').show();
            })

            $("#checkout").click(function(){
                $('.jumbotron').hide();
                $('#room_checkout').show();
            })

            $("#roomsearch").click(function(){
                $('.jumbotron').hide();
                $('#room_search').show();
            })

            $("#form_gusetinfo").click(function(){
                $('#movein_').modal('hide'); //隐藏模态框
                $('.jumbotron').hide();
                $('#choose').show();
            })
            
            $("#single_").click(function(){
                $('#movein_').modal('hide'); 
                $('.jumbotron').hide();
                $('#single').show();
                $('#dropdownMenu1')
            })

            $("#double_").click(function(){
                $('#movein_').modal('hide'); 
                $('.jumbotron').hide();
                $('#double').show();
            })

            $("#luxury_").click(function(){
                $('#movein_').modal('hide'); 
                $('.jumbotron').hide();
                $('#luxury').show();
            })

            $("#high_").click(function(){
                $('#movein_').modal('hide'); 
                $('.jumbotron').hide();
                $('#high').show();
            })

            $("#president_").click(function(){
                $('#movein_').modal('hide'); 
                $('.jumbotron').hide();
                $('#president').show();
            })

            $("#form_gusetinfo").click(function(){
                var name = $('#guest_name').val();
                var id = $('#guest_id').val();
                var num = $('guest_num').val();
                var type = "2";
                $.ajax({
                type:"post",
                dataType:"json",
                data:{type:type,name:name,id:id,num:num}
                });
            })

            $("#continue_upload").click(function(){
                var type = "4"
                var roomid = $('#continueroom').val();
                var days = $('#continuedays').val();
                $.ajax({
                type:"post",
                dataType:"json",
                data:{type:type,roomid:roomid,days:days},
                success: function (result) {
                if (result.resultCode == 200) {
                    alert("SUCCESS");
                }}
                });
            })

            $("#search_upload").click(function(){
                var type = "5"
                var roomid = $('#searchroom').val();
                $.ajax({
                type:"post",
                dataType:"json",
                data:{type:type,roomid:roomid},
                success: function (result) {
                if (result.resultCode == 200) {
                    alert("SUCCESS");
                }}
                });
            })

            $("#checkout_upload").click(function(){
                var type = "6"
                var roomid = $('#checkoutroom').val();
                $.ajax({
                type:"post",
                dataType:"json",
                data:{type:type,roomid:roomid},
                success: function (result) {
                if (result.resultCode == 200) {
                    alert("SUCCESS");
                }}
                });
            })
        });
    </script>
</body>

