<!doctype html>
<html>
<meta charset="utf-8">
<head>
    <title>登录系统</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">  
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <style type="text/css">
        .divhide{display:none}
    
        input[type="checkbox"] {
            display: none;
        }
        input[type="checkbox"]+span {
            display: inline-block;
            width: 150px;
            height: 50px;
            font-size: 30px;
            line-height:50px;
            text-align: center;
            border: 1px solid #999;
            background-color: #fff;
        }
        input[type="checkbox"]:checked+span {
            border: 1px solid rgb(0, 0, 0);
            background-color: rgb(16, 133, 211);
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#" id="init">Hotel</a>
                    </div>
                    
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                 <a href="#" id="movein">入住</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">房间管理<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li>
                                         <a href="#" id="continue">续住</a>
                                    </li>
                                    <li>
                                         <a href="#" id="checkout">退房</a>
                                    </li>
                                    <li>
                                         <a href="#" id="roomsearch">房间查询</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="jumbotron" id="room" style="display:block;">
                    <h3>
                        当前房间情况:
                    </h3>
                    <p>
                        单人房:{{single|length}}
                        双人房:{{double|length}}
                        豪华房:{{luxury|length}}
                        套间:{{suite|length}}
                        高级套间:{{high|length}}
                        总统套房:{{president|length}}
                    </p>
                </div>

                <div class="jumbotron" id="room_continue" style="display:none;">
                    <h3>
                        房间续住
                    </h3>
                    <label>请输入要续住的房间号</label>
                    <input id="continueroom" type="text" size="15" style="width:50px"/>
                    <label>请输入要续住的天数</label>
                    <input id="continuedays" type="text" size="15" style="width:50px"/>
                    <br/>
                    <button id="continue_upload" class="btn btn-default">确认</button>
                </div>

                <div class="jumbotron" id="room_search" style="display:none;">
                    <h3>
                        房间状态查询
                    </h3>
                    <label>请输入要查询的房间号</label>
                    <input id="searchroom" type="text" size="15" style="width:50px"/>
                    <br/>
                    <button id="search_upload" class="btn btn-default">确认</button>
                    <div id="searchtable" style="display: none;">
                        <table class="table table-striped">
                            <caption>房间状态</caption>
                            <thead>
                                <tr>
                                    <th>房间号</th>
                                    <th>入住状态</th>
                                    <th>入住时间</th>
                                    <th>退房时间</th>
                                </tr>
                                <tbody>
                                    <tr>
                                        <td id="RoomNum">{{RoomNum}}</td>
                                        <td id="Flag">{{Flag}}</td>
                                        <td id="TimeIn">{{TimeIn}}</td>
                                        <td id="TimeOut">{{TimeOut}}</td>
                                    </tr>
                                </tbody>
                            </thead>
                        </table>
                    </div>
                </div>

                <div class="jumbotron" id="room_checkout" style="display:none;">
                    <h3>
                        房间退房
                    </h3>
                    <label>请输入要退房的房间号</label>
                    <input id="checkoutroom" type="text" size="15" style="width:50px"/>
                    <br/>
                    <button id="checkout_upload" class="btn btn-default">确认</button>
                    <div id = "continuetable" style="display: none;">
                        <table class="table table-striped">
                            <caption>订单详情</caption>
                            <thead>
                                <tr>
                                    <th>订单号</th>
                                    <th>身份证</th>
                                    <th>房间号</th>
                                    <th>预定时间</th>
                                    <th>入住时间</th>
                                    <th>退房时间</th>
                                    <th>应付金额</th>
                                </tr>
                                <tbody>
                                    <tr>
                                        <td id="ddnum">{{ddnum}}</td>
                                        <td id="idnum">{{idnum}}</td>
                                        <td id="room_num">{{room_num}}</td>
                                        <td id="reservetime">{{reservetime}}</td>
                                        <td id="moveintime">{{moveintime}}</td>
                                        <td id="checkouttime">{{checkouttime}}</td>
                                        <td id="pay">{{pay}}</td>
                                    </tr>
                                </tbody>
                            </thead>
                        </table>
                    </div>
                </div>

                

                <div class="right-block" style="width:0px;display: none;" id="choose">
                    <div class="dropdown">
                        <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">请选择房间类型
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#" id="single_">单人间</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#" id="double_">双人间</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#" id="luxury_">豪华间</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#" id="suite_">套间</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#" id="high_">高级套间</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#" id="president_">总统套房</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <br/>
                <div class="jumbotron" id="single" style="display: none;">
                    <div>
                        <p>可用单人间</p>
                        {% for index in single %}
                            <label><input type="checkbox" name="test" value="{{index[0]}}"/><span>{{index[0]}}</span></label>
                        {% endfor %}
                        <br/>
                        <label>输入入住天数</label>
                        <input class="livedays" type="text">
                        <button class="submit">提交</button>
                    </div>
                </div>
                <div class="jumbotron" id="double" style="display: none;">
                    <div>
                        <p>可用双人间</p>
                        {% for index in double %}
                            <label><input type="checkbox" name="test" value="{{index[0]}}"/><span>{{index[0]}}</span></label>
                        {% endfor %}
                        <br/>
                        <label>输入入住天数</label>
                        <input class="livedays" type="text">
                        <button class="submit">提交</button>
                    </div>
                </div>
                <div class="jumbotron" id="luxury" style="display: none;">
                    <div>
                        <p>可用豪华间</p>
                        {% for index in luxury %}
                            <label><input type="checkbox" name="test" value="{{index[0]}}"/><span>{{index[0]}}</span></label>
                        {% endfor %}
                        <br/>
                        <label>输入入住天数</label>
                        <input class="livedays" type="text">
                        <button class="submit">提交</button>
                    </div>
                </div>
                <div class="jumbotron" id="suite" style="display: none;">
                    <div>
                        <p>可用套间</p>
                        {% for index in suite %}
                            <label><input type="checkbox" name="test" value="{{index[0]}}"/><span>{{index[0]}}</span></label>
                        {% endfor %}
                        <br/>
                        <label>输入入住天数</label>
                        <input class="livedays" type="text">
                        <button class="submit">提交</button>
                    </div>
                </div>
                <div class="jumbotron" id="high" style="display: none;">
                    <div>
                        <p>可用高级套间</p>
                        {% for index in high %}
                            <label><input type="checkbox" name="test" value="{{index[0]}}"/><span>{{index[0]}}</span></label>
                        {% endfor %}
                        <br/>
                        <label>输入入住天数</label>
                        <input class="livedays" type="text">
                        <button class="submit">提交</button>
                    </div>
                </div>
                <div class="jumbotron" id="president" style="display: none;">
                    <div>
                        <p>可用总统套房</p>
                        {% for index in president %}
                            <label><input type="checkbox" name="test" value="{{index[0]}}"/><span>{{index[0]}}</span></label>
                        {% endfor %}
                        <br/>
                        <label>输入入住天数</label>
                        <input class="livedays" type="text">
                        <button class="submit">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="movein_">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                        <h4 class="modal-title" align="center">入住登记</h4>
                        <br/>
                            <div class="form-group">
                                <label for="name" class="col-sm-offset-2 col-sm-2 control-label">姓名</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="guest_name" placeholder="输入姓名">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-sm-offset-2 col-sm-2 control-label">身份证号</label>
                                <div class="col-sm-5">
                                    <input type="password" class="form-control" id="guest_id" placeholder="输入身份证">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-offset-2 col-sm-2 control-label">联系方式</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="guest_num" placeholder="输入手机号">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-5">
                                    <button id="form_gusetinfo" class="btn btn-default btn-block btn-primary">录入</button>
                                </div>
                            </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
            <!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script type="text/javascript">
        $(function(){
            $("#movein").click(function(){
                $('#movein_').modal('show'); //显示模态框
            })
            
            $("#init").click(function(){
                $('.jumbotron').hide(); 
                $('#choose').hide();
                $('#room').show();  
            })

            $("#continue").click(function(){
                $('.jumbotron').hide();
                $('#room_continue').show();
                $('#choose').hide();
            })

            $("#checkout").click(function(){
                $('.jumbotron').hide();
                $('#room_checkout').show();
                $('#choose').hide();
            })

            $("#roomsearch").click(function(){
                $('.jumbotron').hide();
                $('#room_search').show();
                $('#choose').hide();
            })

            $("#form_gusetinfo").click(function(){
                // $('#movein_').modal('hide'); //隐藏模态框
                // $('.jumbotron').hide();
                // $('#choose').show();
                var name = $('#guest_name').val();
                var id = $('#guest_id').val();
                var num = $('#guest_num').val();
                $.ajax({
                type:"post",
                dataType:"text",
                url:"/guestinfo",
                data:{name:name,id:id,num:num},
                success:function(res){
                    alert(res)
                    $('#movein_').modal('hide'); //隐藏模态框
                    $('.jumbotron').hide();
                    $('#choose').show();
                },
                error:function (res) {
                    alert('失败')
                }
                });
            })
            
            $("#single_").click(function(){
                $('#movein_').modal('hide'); 
                $('.jumbotron').hide();
                $('#single').show();
                $('#dropdownMenu1')
            })

            $("#double_").click(function(){
                $('#movein_').modal('hide'); 
                $('.jumbotron').hide();
                $('#double').show();
            })

            $("#luxury_").click(function(){
                $('#movein_').modal('hide'); 
                $('.jumbotron').hide();
                $('#luxury').show();
            })

            $("#high_").click(function(){
                $('#movein_').modal('hide'); 
                $('.jumbotron').hide();
                $('#high').show();
            })

            $("#president_").click(function(){
                $('#movein_').modal('hide'); 
                $('.jumbotron').hide();
                $('#president').show();
            })


            $(".submit").click(function(){
                var ids= new Array();
                $("input[type='checkbox']:checkbox:checked").each(function(i,d){
                ids.push(d.value); 
                });
                alert(ids.length)
                var days = $('.livedays').val();
                alert(days)
                d = {list:ids,days:days}
                $.ajax({
                type:"post",
                url:"/ChooseRoom",
                contentType: "application/json; charset=utf-8",
                dataType:"text",
                data:JSON.stringify(d),
                success:function(res){
                    alert(res)
                },
                error:function (res) {
                    alert('失败')
                }
                });
            })

            $("#continue_upload").click(function(){
                var roomid = $('#continueroom').val();
                var days = $('#continuedays').val();
                $.ajax({
                type:"post",
                dataType:"text",
                url:"/continue",
                data:{roomid:roomid,days:days},
                success: function (result) {
                    alert(result)
                },
                error:function(result){
                    alert('失败')
                }
                });
            })

            $("#search_upload").click(function(){
                alert('111')
                var roomid = $('#searchroom').val();
                $.ajax({
                type:"post",
                url:'/search',
                dataType:"json",
                data:{roomid:roomid},
                success: function (result) {
                    $("#RoomNum").html(result['RoomNum']);
                    $("#Flag").html(result['Flag']);
                    $("#TimeIn").html(result['TimeIn']);
                    $("#TimeOut").html(result['TimeOut']);
                }
                });
                $('#searchtable').show();
            })

            $("#checkout_upload").click(function(){
                var roomid = $('#checkoutroom').val();
                $.ajax({
                type:"post",
                dataType:"json",
                url:"/checkout",
                data:{roomid:roomid},
                success: function (result) {
                    $("#ddnum").html(result['ddnum']);
                    $("#idnum").html(result['idnum']);
                    $("#room_num").html(result['room_num']);
                    $("#reservetime").html(result['reservetime']);
                    $("#moveintime").html(result['moveintime']);
                    $("#checkouttime").html(result['checkouttime']);
                    $("#pay").html(result['pay']);
                }
                });
                $('#continuetable').show();
            })

        });
    </script>
</body>


